.hero{
    /* adding background image */
    background-image: url("../images/HeroImage.jpg");

    /* set the height of the Jumbotron */
    height: 750px;

    /* stretch the background image so it covers the entire jumbotron */
    background-size: cover;

    /* make sure the background does not repeat */
    background-repeat: no-repeat;

    /* set the background to be fixed so the page appears to scroll over it */
    background-attachment: fixed;
}

.card#tennis{
    background-image: url("../images/TennisRackets.jpg") ;
  }